
*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background:url("https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower.png");
    overflow-y: hidden;
    overflow-x: hidden;
}
#tab1YandexMap{
    display: block;
    height: 100%;
    width: 100%;
}

p {
        width: 250px;
}
        
.ymaps-2-1-79-panorama-gotoymaps, .ymaps-2-1-79-gototech, .ymaps-2-1-79-gototaxi, .ymaps-2-1-79-gotoymaps,
.ymaps-2-1-79-route-panel-input__location,.ymaps-2-1-79-route-panel-button, .ymaps-2-1-79-copyright{
    display: none !important;
} 
#thead, #tbody { display: block; }
#tbody {
    height: 160px;
    overflow-y: auto;
}
#route{
    z-index: 15;
    position:absolute;
    display: none;
    width: 100%;
    height: 170px;
    left: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid #CDB7B5;
    border-radius: 15px 15px 0 0;
    font-size: 24px;
    overflow-y: hidden;
    overflow-x: hidden;
}
#icon{
    margin: 10px 0 0 10px;
    width: 65px;
    height: 65px;
    border-radius: 15px;
}
#Route-close{
    width: 20px;
    height: 20px;
    align-self: self-end;
    background-color: transparent;
}
#Route-Address{
    margin: 5px 10px 0 2px;
    font-size: 16px;
    font-weight: bold;
    height: 30px ;
    overflow-y: auto ;
}
#Route-Address-Expans{
    color: rgb(73, 73, 73);
    margin: 5px 10px 0 2px;
    align-self: center;
    font-size: 16px;
    height: 30px ;
    overflow-y: auto ;
    overflow-x: hidden;
}
#Route-Type{
    margin-left: 10px;
    margin: 5px;
}
.btn{
    border: none;
    color: white;
    padding: 12px 16px !important;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}
.btnType {
    background-color: DodgerBlue;
}
.btnClose{
    background-color: red;
}
.btnBars{
    background-color: rgb(165, 165, 165);
    margin-bottom: 5px;

}
.btnZoom{
    display: block;
    margin-top: 10px;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%,  rgb(255, 255, 255) 100%);
    color:white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 12px 16px !important;
}
.btnZoom:hover{
    background:linear-gradient(90deg, rgb(156, 156, 156) 0%,  rgb(160, 160, 160) 100%);
    color:black;
}

.btnType:hover {
    background-color: RoyalBlue;
}
.btnClose:hover {
    background-color: darkred;
}
.btnBars:hover{
   
    background-color: lightslategray;
}

.ymaps-2-1-79-controls__control{
    margin: auto !important;
    inset: auto auto auto 90% !important;
}

.ymaps-2-1-79-float-button[title="markerBliz"]{
    max-width: 150px  !important;
    position: absolute !important;
    left: 90.4%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
}

.ymaps-2-1-79-float-button[title="markerBliz"]{
    background-image: url(https://sun9-21.userapi.com/impg/CYlRL0LW2hDNNzu2-Q1NTAWf-puFvB5kwsO6pQ/pijv8vuzeQM.jpg?size=384x384&quality=96&sign=821e4f38fe3384f92e83184132fd6c74&type=album);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.ymaps-2-1-79-float-button-icon_icon_geolocation{
    background-image: url(https://lh3.googleusercontent.com/lEB5eefZcvZO_vPUKKHVWxJ0Gfs1AuWjS9kkRZMipI9ZDdRtRXh0FVsTK2-ea45bgZqhQzcnBROPhzggaC_oFQd4Jsg=w50-h50-e365-rj-sc0x00ffffff) !important;
    background-size: cover !important;
    background-position: center !important;
    background-position-y: 2px !important;
    background-position-x: 1px !important;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, -0.5) !important;
}

.ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
    position: absolute !important;
    top: 50% !important;
    margin-top: 50px;
    left: 89.5%;
    width: 30px;
    height: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.positionZoom{
    position: absolute !important;
    top: 300px !important;
    left: 10px;
    transform: translate(-50%, 50%);
}

#bars{
    float: left;
}
#close{
    float: right;
    margin-bottom: 30px !important;
    
}
.fa-men::before{
    content: "🚶";
}
/*
 table {
    border: 1px solid red;
    border-collapse: collapse;
    
}    
td{
     border: 1px solid red;
} 
*/


.type{
    float: right;
}   
#desc{
    display: none;
    margin: 10px 10px 0 10px;
    color: black;
}
.table{
    width: 99%;  
}
.col3{
    width: 99%;
}
.col2{
    width: 70%;
}
/* .col1{
    width: 60px;
} */

@media screen and (max-width: 1441px){

    .fa.fa-plus{
        padding: 6px 6px !important;
    }

    .fa.fa-minus{
        padding: 6px 6px !important;
    }

    .btn{
        border: none ;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 90.5% !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 120px !important;
        width: 50px !important;
        height: 50px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 35px !important;
        top: 50% !important;
        left: 88.5% !important;
        width: 50px !important;
        height: 50px !important;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        margin-left: 0px !important;
    }
    .ymaps-2-1-79-float-button-icon, .ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 50px !important;
        height: 50px !important;
    }
    .btn.btnZoom{
        width: 60px !important;
        height: 60px !important;
        transform: translateY(-50px) !important;
    }
    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 30px !important;
        height: 30px !important;
        left: 2px !important;
        padding-left: 2px !important;
        background-size: 30px 30px !important;
    }
} 

@media screen and (max-width: 1200px){
    .fa.fa-plus{
        padding: 6px 5px !important;
    }

    .fa.fa-minus{
        padding: 6px 5px !important;
    }
    .btn{
        border: none;
        color: white;
        padding: 12px 16px !important;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 90.6% !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 115px !important;
        width: 45px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 40px !important;
        top: 50% !important;
        left: 89% !important;
        width: 45px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-left: -5px !important;
    }
    .btn.btnZoom{
        width: 55px !important;
        height: 55px !important;
        transform: translateY(-130px) !important;
    }
    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 30px !important;
        height: 30px !important;
        background-size: 30px 30px !important;
        margin-left: -2px !important;
        margin-top: -2px !important;
    }
} 

@media screen and (max-width: 992px){
    .fa.fa-plus{
        padding: 6px 7px !important;
    }

    .fa.fa-minus{
        padding: 6px 7px !important;
    }
    .btn{
        border: none;
        color: white;
        padding: 12px 16px !important;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 90.4% !important;
        width: 55px !important;
        height: 55px !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 135px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
   
    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 40px !important;
        top: 50% !important;
        left: 90% !important;
        width: 55px !important;
        height: 55px !important;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
        margin-left: -24px !important;
    }
    .btn.btnZoom{
        width: 70px !important;
        height: 70px !important;
        transform: translateY(0px) !important;
    }
    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 50px !important;
        height: 50px !important;
        background-size: 40px 40px !important;
        margin-top: 6px !important;
    }
} 


@media screen and (max-width: 992px) and (min-height: 1367px){
    .fa.fa-plus{
        padding: 6px 7px !important;
        font-size: 24px;
    }

    .fa.fa-minus{
        padding: 6px 7px !important;
        font-size: 24px;
    }

    .btn{
        border: none;
        color: white;
        padding: 12px 16px !important;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 90.4% !important;
        width: 70px !important;
        height: 70px !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 190px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
   
    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 70px !important;
        top: 50% !important;
        left: 90% !important;
        width: 70px !important;
        height: 70px !important;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
        margin-left: -32px!important;
    }
    .btn.btnZoom{
        width: 100px !important;
        height: 100px !important;
        transform: translateY(100px) !important;
    }
    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 50px !important;
        height: 50px !important;
        background-size: 40px 40px !important;
        margin-top: 6px !important;
        margin-left: 4px !important;
    }
} 



@media screen and (max-width: 576px){
    .fa.fa-plus{
        padding: 6px 7px !important;
    }

    .fa.fa-minus{
        padding: 6px 7px !important;
    }
    .btn{
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 88.0% !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 130px !important;
        width: 45px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 50px !important;
        top: 50% !important;
        left: 87% !important;
        width: 45px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        margin-left: -18px !important;
    }
    .btn.btnZoom{
        width: 60px !important;
        height: 60px !important;
        transform: translateY(-50px) translateX(-20px) !important; 
    }

    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 50px !important;
        height: 50px !important;
        background-size: 30px 30px !important;
        margin-top: 16px !important;
        margin-left: -2px !important;
    }
}   

@media screen and (max-width: 576px){
    .fa.fa-plus{
        padding: 6px 7px !important;
    }

    .fa.fa-minus{
        padding: 6px 7px !important;
    }
    .btn{
        border: none;
        color: white;
        padding: 12px 16px !important;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 88.0% !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 130px !important;
        width: 45px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 50px !important;
        top: 50% !important;
        left: 87% !important;
        width: 45px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        margin-left: -18px !important;
    }
    .btn.btnZoom{
        width: 60px !important;
        height: 60px !important;
        transform: translateY(-50px) translateX(-20px) !important;
    }

    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 50px !important;
        height: 50px !important;
        background-size: 30px 30px !important;
        margin-top: 16px !important;
        margin-left: -2px !important;
    }
}  

@media screen and (max-width: 576px) and (max-height: 670px){
    .fa.fa-plus{
        padding: 6px 7px !important;
    }

    .fa.fa-minus{
        padding: 6px 7px !important;
    }
    .btn{
        border: none;
        color: white;
        padding: 12px 16px !important;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 88.0% !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 130px !important;
        width: 45px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 50px !important;
        top: 50% !important;
        left: 87% !important;
        width: 45px !important;
        height: 45px !important;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        margin-left: -18px !important;
    }
    .btn.btnZoom{
        width: 60px !important;
        height: 60px !important;
        transform: translateY(-100px) translateX(-20px) !important;
    }

    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 50px !important;
        height: 50px !important;
        background-size: 30px 30px !important;
        margin-top: 16px !important;
        margin-left: -2px !important;
    }
}  


@media screen and (max-width: 1000px) and (max-height: 600px){
    .fa.fa-plus{
        padding: 0px !important;
        margin-bottom: -10px !important;
        margin-left: -1px !important;
    }

    .fa.fa-minus{
        padding: 0px !important;
        margin-top: 0px !important;
        margin-left: -1px !important;
    }
    .btn{
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 89% !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 90px !important;
        width: 40px !important;
        height: 40px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 20px !important;
        top: 50% !important;
        left: 88.7% !important;
        width: 40px !important;
        height: 40px !important;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        margin-left: -18px!important;
    }
    .btn.btnZoom{
        width: 45px !important;
        height: 50px !important;
        transform: translateY(-200px) translateX(-16px) !important;
    }

    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 40px !important;
        height: 40px !important;
        background-size: 25px 25px !important;
        margin-top: 12px !important;
        margin-left: -2px !important;
    }
}  

@media screen and (max-width: 281px){
    .fa.fa-plus{
        padding: 5px 2px !important;
    }

    .fa.fa-minus{
        padding: 5px 2px !important;
    }
    .btn{
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 15px;
        
    }
    .ymaps-2-1-79-float-button[title="markerBliz"]{
        max-width: 300px  !important;
        position: absolute !important;
        top: 50% !important;
        left: 86.9% !important;
        transform: translate(-50%, -50%) !important;
        margin-top: 125px !important;
        width: 40px !important;
        height: 40px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .ymaps-2-1-79-float-button[title="Определить ваше местоположение"]{
        position: absolute !important;
        margin-top: 55px !important;
        top: 50% !important;
        left: 86% !important;
        width: 40px !important;
        height: 40px !important;
        display: flex !important;
        justify-content: left !important;
        align-items: center !important;
        margin-left: -18px !important;
    }
    .btn.btnZoom{
        width: 50px !important;
        height: 50px !important;
        transform: translateY(-100px) translateX(-20px) !important;
    }

    .ymaps-2-1-79-float-button-icon.ymaps-2-1-79-float-button-icon_icon_geolocation{
        width: 40px !important;
        height: 40px !important;
        background-size: 30px 30px !important;
        margin-top: 6px !important;
        margin-left: -4px !important;
    }
}

